.text-field {
  display: flex;
  align-items: center;

  &__form-field {
    textarea {
      resize: vertical;
      min-height: 2rem;
      max-height: 12rem;

      &::-webkit-scrollbar-button {
        display: none;
      }
    }
  }
}
