<div class="bottom">
    <mat-nav-list>
        @for (option of options; track option.mode) {
        <a mat-list-item [activated]="themeService.appearance() === option.mode"
            (click)="selectAppearance(option.mode)">
            <div class="bottom__element">
                <mat-icon class="bottom__element__icon" aria-hidden="true">{{ option.icon }}</mat-icon>
                <div class="bottom__element__label">
                    {{ option.label }}
                </div>
            </div>
        </a>
        }
    </mat-nav-list>
</div>
