<div class="bottom">
    <mat-nav-list>
        <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
            <div class="bottom__element">
            <div class="bottom__element__icon">
                <img src="/moon.png" width="25px" height="25px" alt="laptop" />
            </div>
            <div class="bottom__element__label">
                Dark
            </div>
            </div>
        </a>
    
        <a href="https://docs.google.com/" mat-list-item (click)="openLink($event)">
            <div class="bottom__element">
                <div class="bottom__element__icon">
                    <img src="/sun.png" width="25px" height="25px" alt="laptop" />
                </div>
                <div class="bottom__element__label">
                    Light
                </div>
            </div>
        </a>    
    </mat-nav-list>
</div>

