<form class="composer" [formGroup]="todoForm" (ngSubmit)="addTask()">
  <label class="composer__label" for="new-task">New task</label>
  <input #taskInput id="new-task" class="composer__input" type="text" formControlName="task" placeholder="New task"
    autocomplete="off" [attr.aria-keyshortcuts]="shortcutKey | uppercase" (keydown.escape)="taskInput.blur()" />
  <kbd class="composer__hint" aria-hidden="true">{{ shortcutKey | uppercase }}</kbd>
  <button type="submit" class="composer__add" [disabled]="!todoForm.valid" aria-label="Add task">
    <mat-icon aria-hidden="true">add</mat-icon>
  </button>
</form>
