<div class="todo-input-bar">
  <div class="todo-input-bar__input">
    <input type="text" class="todo-input-bar__input__input" placeholder="Add a tasks" />
  </div>
  <div class="todo-input-bar__button">
    <button class="todo-input-bar__button__button">Add</button>
  </div>
</div>

<!-- <form class="footer-input__form">
  <mat-form-field class="footer-input__form__field">
    <mat-label>Add a tasks</mat-label>
    <input type=" text" matInput [formControl]="todoFormControl" placeholder="Ex. List of games to play">
  </mat-form-field>
</form> -->
