.todo-input-bar {
  display: flex;
  gap: 16px;
  align-items: center;

  &__form-field {
    flex: 1;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  &__input {
    margin: 0;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 56px;
    background-color: var(--app-add-task-button-color);
    color: var(--white-pure);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
}
