:host {
  .todo-home {
    display: flex;
    background-color: var(--navmenu-color-light-mode);
    box-sizing: border-box;
    padding: 2rem 0 0 0;
    height: 100%;

    .left-menu {
      display: flex;
      width: 15%;
      text-align: center;
      justify-content: space-between;
      flex-direction: column;
      gap: 1rem;

      &__header {
        display: flex;
        flex-direction: column;

        &__title {
          font-size: 1.7rem;
          font-weight: 900;
          // margin-bottom: 0.4rem;
          font-family: "Pacifico", cursive;
        }

        &__date {
          font-size: 1rem;
          margin-bottom: 1rem;
        }
      }

      &__bottom {
        display: flex;
        justify-content: center;
      }
    }
    .main-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: var(--main-color-light-mode);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      width: 85%;
      border-radius: 15px 0px 0px 0px;
      padding: 2rem 2rem 0.75rem 2rem;

      &__group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.8rem;

        .body {
          display: flex;
          flex-direction: column;
          gap: 0.8rem;
          height: 80vh;

          &__tasks {
            height: 45vh;
            box-sizing: border-box;
            overflow-y: auto;
            scrollbar-width: none;

            background-color: var(--navmenu-color-light-mode);
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            border-radius: 15px;
            padding: 20px;

            &::-webkit-scrollbar-thumb {
              display: none;
            }

            &::-webkit-scrollbar-track {
              background: transparent;
            }
          }

          &__completed {
            display: flex;
            gap: 1rem;
            flex-direction: column;
            &__header {
              font-size: 1.7rem;
              font-weight: 900;
            }
            &__tasks {
              height: 45vh;
              box-sizing: border-box;
              overflow-y: auto;
              scrollbar-width: none;

              background-color: var(--navmenu-color-light-mode);
              box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
              border-radius: 15px;
              padding: 20px;

              &::-webkit-scrollbar-thumb {
                display: none;
              }

              &::-webkit-scrollbar-track {
                background: transparent;
              }
            }
          }
        }
        .footer {
          display: flex;
          width: 100%;
        }
      }
    }
  }
}
