:root {
  --background-color: light-dark(#ffffff, #000000);
  --text-color: light-dark(#000000, #ffffff);
  --primary-color: light-dark(#6200ee, #bb86fc);

  --app-font-black-color: #202020;
  --app-font-grey-color: #5e5e5e;
  --app-header-font-grey-color: #878787;
  --app-font-white-grey-color: #a9a9a9;
  --app-gold-color: #c4ae7f;
  --app-black-color: #000000;
  --app-green-color: #1da750;
  --app-green-color-dark: #076329;
  --app-orange-color: #f97316;
  --app-red-color: #fe6368;

  --white-pure: #ffffff;

  --main-color-light-mode: light-dark(#cecece, #131313);
  --navmenu-color-light-mode: light-dark(#9f9e9e, #333333);
  --app-button-cancel: #cccccc;
  --app-button-background: #f9f9f9;
  --app-sun-color: light-dark(#000000, #ffffff);
  --app-add-task-button-color: light-dark(#9f9e9e, #333333);
  --app-task-container-color: light-dark(#9f9e9e, #333333);
  --app-delete-task-button-color: light-dark(#000000, #ffffff);
  --app-delete-task-button-hover-color: #9f9e9e;
  --app-task-onhover: light-dark(#bcbaba, #262626);
}
