:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --primary-color: #6200ee;

    --app-font-black-color: #202020;
    --app-font-grey-color: #5e5e5e;
    --app-header-font-grey-color: #878787;
    --app-font-white-grey-color: #a9a9a9;
    --app-gold-color: #c4ae7f;
    --app-black-color: #000000;
    --app-green-color: #1da750;
    --app-green-color-dark: #076329;
    --app-orange-color: #f97316;
    --app-red-color: #fe6368;

    --white-pure: #ffffff;

    --main-color-light-mode: #cecece;
    --navmenu-color-light-mode: #9f9e9e;
    --app-button-cancel: #cccccc;
    --app-button-background: #f9f9f9;
}  

.dark-mode {
    --background-color: #121212;
    --main-color-light-mode: #333;
    --navmenu-color-light-mode: #717070; 
    --text-color: #ffffff;
    --primary-color: #bb86fc;
}