@use "colors/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

html,
body {
  height: 100%;
}

h1,
h2,
h3 {
  font-weight: 600;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Inter", serif;
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
  height: 0 !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  border: none !important;
  color: var(--text-color) !important;
}

.mat-mdc-card-content .card__content {
  color: var(--text-color);
}

.mat-mdc-input-element
  .todo-input-bar__input
  .ng-pristine
  .ng-valid
  .mat-mdc-form-field-input-control
  .mdc-text-field__input
  .cdk-text-field-autofill-monitored
  .ng-touched {
  color: var(--navmenu-color-light-mode);
}

.mat-mdc-card-content:last-child {
  padding: 0 !important;
}
